version: '3.8'
services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - server

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8000:5000" # Map host port 8000
    environment:
      NODE_ENV: production
      PORT: 5000

    volumes:
      - ./server:/app
      - /app/node_modules
networks:
  default:
    driver: bridge