RAILS_ENV=production
PORT=8000
DATABASE_URL=postgresql://postgres:password@localhost:5432/candido
SECRET_KEY_BASE=generate-with-bin-rails-secret
CORS_ORIGIN=https://candidohq.com
AWS_BUCKET_NAME=your-bucket-name
AWS_REGION=your-region
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BREVO_SMTP_LOGIN=
BREVO_SMTP_KEY=
GITHUB_REPO_OWNER=ianvexler
