DATABASE_URL=postgresql://postgres:password@db:5432/candido
CORS_ORIGIN=http://localhost:3000
ENVIRONMENT=development

BREVO_SMTP_LOGIN=your-smtp-login@brevo.com
BREVO_SMTP_KEY=your-smtp-key

AWS_BUCKET_NAME=
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
